html,
body {
    height: 100%;
}

/* body {
    display: grid;
    grid-template-columns: 15em auto 15em;
    grid-template-rows: min-content auto min-content;
    column-gap: 1em;
    row-gap: 1em;
    margin: 1em;
} */

body {
    margin: 1em;
    display: grid;
    grid: auto-flow min-content / auto 15em;
    column-gap: 1em;
    row-gap: 1em;
}

nav,
aside {
    grid-column: 2 / 3;
}

main {
    /* row-start / column-start / row-end / column-end */
    grid-area: 2 / 1 / 4 / 2;
}

header,
footer {
    grid-column: 1 / 3;
}